body {
  background-color: #white;
}

.container {
  width: 800px;
  margin: 100px auto 0 auto;
}

.price-list-form * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.price-list-form .icon {
  font-size: 1.4em;
  line-height: 1;
  cursor: pointer;
}

.price-list-form .icon:hover {
  background-color: yellow;
}

.price-list-form .delete {
  color: red;
}


.price-list-form .header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.price-list-form table {
  width: 100%;
  border: 1px solid black;
}

.price-list-form td {
  padding: 5px;
}

.price-list-form .name {
  width:50%;
  max-width: 230px;
  overflow: hidden;
}

.price-list-form .price {
  width: 30%;
}

.price-list-form .actions {
  width: 20%;
}

.edit-form {
  position: absolute;

  display: none;
  width: 450px;
  padding: 20px 20px 10px 20px;
  border: 1px solid black;  
  
  background-color: #f0f0f0;
}

.edit-form * {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 16px;  
}

.edit-form label {
  margin-bottom: 10px;
}

.edit-form input {
  width: 100%;
  margin-top: 5px;
  padding: 0.6em;
  
  border: 1px solid black;   
  border-radius: 1em;
  
  background-color: inherit;
}

.edit-form .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.edit-form button {
  width: 40%;
  margin-left: 5%;
  padding: 0.7em 0;
  
  border: 1px solid black;   
  border-radius: 1em;
  
  background-color: inherit;
}

.edit-form button:hover {
  background-color: yellow;  
  cursor: pointer;
}

.delete-form {
  position: absolute;

  display: none;
  width: 450px;
  padding: 20px 20px 10px 20px;
  border: 1px solid black;  
  
  overflow: hidden;
  
  background-color: #f0f0f0;
}

.delete-form * {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0; 

  font-family: "Arial", sans-serif;
  font-size: 16px;  
}

.delete-form .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.delete-form button {
  width: 40%;
  margin-left: 5%;
  padding: 0.7em 0;
  
  border: 1px solid black;   
  border-radius: 1em;
  
  background-color: inherit;
}

.delete-form button:hover {
  background-color: yellow;  
  cursor: pointer;
}

.active {
  display: block;
}
